name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
      
jobs:
  Build:
    name: ${{ matrix.application }} application with Swift ${{ matrix.swift }} on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        swift: ["5.7"]
        application: ["EmptyExampleService", "PersistenceExampleService", "NoExistentialTypesExampleService"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: swift-actions/setup-swift@v1.18.0
        with:
          swift-version: ${{ matrix.swift }}
      - uses: actions/checkout@v2
      - name: Build
        run: cd ${{ matrix.application }} && swift build -c release
      - name: Run tests
        run: cd ${{ matrix.application }} && swift test
  NoTestBuild:
    name: ${{ matrix.application }} application with Swift ${{ matrix.swift }} on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        swift: ["5.7"]
        application: ["OtherServiceSwiftClient"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: swift-actions/setup-swift@v1.18.0
        with:
          swift-version: ${{ matrix.swift }}
      - uses: actions/checkout@v2
      - name: Build
        run: cd ${{ matrix.application }} && swift build -c release
  SwiftLint:
    name: SwiftLint version 3.2.1 for ${{ matrix.application }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        application: ["EmptyExampleService", "PersistenceExampleService", "NoExistentialTypesExampleService"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
      - name: GitHub Action for SwiftLint
        uses: norio-nomura/action-swiftlint@3.2.1
        env:
          WORKING_DIRECTORY: ${{ matrix.application }}
